.list__item {
  width: 100%;
  display: block;
  clear: both;
  float: none;
  margin-bottom: 3em;
}

.list__item .archive__item {
  width: 100%;
  display: block;
  clear: both;
}

.list__item .archive__item-teaser {
  float: none;
  width: 100%;
  display: block;
  margin-bottom: 1em;
}

.list__item .archive__item-teaser img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
}

.list__item .archive__item-teaser,
.list__item .archive__item-teaser:hover,
.list__item .archive__item:hover .archive__item-teaser {
  box-shadow: none !important;
  transform: none !important;
  opacity: 1 !important;
}

.list__item .archive__item-teaser img,
.list__item .archive__item-teaser img:hover,
.list__item .archive__item:hover .archive__item-teaser img {
  transform: none !important;
  opacity: 1 !important;
  filter: none !important;
}


